src/main/resources/student.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Student">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Student" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="Name"/>
                            <xs:element type="xs:string" name="Surname"/>
                            <xs:element type="xs:int" name="Age"/>
                            <xs:element type="xs:string" name="Gender"/>
                            <xs:element type="xs:long" name="idUniversity"/>
                            <xs:element type="xs:long" name="Faculty_idFaculty"/>
                        </xs:sequence>
                        <xs:attribute type="xs:long" name="idStundent" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>